<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>974364023302-pl69vlgd2u0j60f2qcr62t4gnj56s79k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.974364023302-pl69vlgd2u0j60f2qcr62t4gnj56s79k</string>
	<key>API_KEY</key>
	<string>AIzaSyBhYDKEs4ZjHT1q73WFm3Q0sLxOUJjYy7Q</string>
	<key>GCM_SENDER_ID</key>
	<string>974364023302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.financialInstruments</string>
	<key>PROJECT_ID</key>
	<string>financial-instruments-2e9c0</string>
	<key>STORAGE_BUCKET</key>
	<string>financial-instruments-2e9c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974364023302:ios:2554e89bd4e880380d0187</string>
</dict>
</plist>